.App {
  text-align: center;
}

.App-header {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );

  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  color: white;
  filter: drop-shadow(6px 6px 5px black);
}

@media (max-width: 576px) {
  #title-bar {
    color: #0d1f45;
    font-weight: 900;
    border-radius: 16px;
    margin-bottom: 2%;
    width: 98%;
    margin-left: 1%;
    background-color: white;

    filter: drop-shadow(6px 6px 5px black);
  }

  .btn {
    filter: drop-shadow(6px 6px 5px black);
  }
  #message-input {
    justify-content: end;
    width: 100%;

    filter: drop-shadow(6px 6px 5px black);
  }
  #message-display {
    height: 600px;
    width: 200px;
    position: relative;
    left: 3%;

    background-color: white;
    border-radius: 16px;
    filter: drop-shadow(6px 6px 5px black);
  }

  #conversations {
    position: absolute;
    top: 24.5%;
    height: 673px;
    width: 378px;
    background-color: white;
    border-radius: 16px;

    display: none;
    filter: drop-shadow(6px 6px 5px black);
  }
}

@media (max-width: 768px) {
  #title-bar {
    color: #0d1f45;
    font-family: "Akaya Telivigala";
    font-size: 24;
    font-weight: 900;
    border-radius: 16px;
    margin-bottom: 2%;
    width: 95%;
    margin-left: 2.5%;
    background-color: white;

    filter: drop-shadow(6px 6px 5px black);
  }

  .btn {
    filter: drop-shadow(6px 6px 5px black);
  }

  #message-input {
    justify-content: end;
    width: 100%;

    margin-top: 2%;
    margin-bottom: -2%;
    filter: drop-shadow(6px 6px 5px black);
  }

  #message-display {
    height: 600px;
    width: 510px;
    position: relative;
    left: 3%;

    background-color: white;
    border-radius: 16px;
    filter: drop-shadow(6px 6px 5px black);
  }

  #conversations {
    position: absolute;
    top: 24.5%;
    height: 673px;
    width: 378px;
    background-color: white;
    border-radius: 16px;

    display: none;
    filter: drop-shadow(6px 6px 5px black);
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  #title-bar {
    color: #0d1f45;
    font-family: "Akaya Telivigala";
    font-size: 24;
    font-weight: 900;
    border-radius: 16px;
    margin-bottom: 2%;
    width: 98%;
    margin-left: 1%;
    background-color: white;

    filter: drop-shadow(6px 6px 5px black);
  }

  #message-input {
    justify-content: end;
    width: 100%;

    margin-top: 2%;
    filter: drop-shadow(6px 6px 5px black);
  }

  .btn {
    margin-top: 2%;
    filter: drop-shadow(6px 6px 5px black);
  }
  #message-display {
    height: 600px;
    width: 457px;
    position: relative;
    right: 15%;

    background-color: white;
    border-radius: 16px;
    filter: drop-shadow(6px 6px 5px black);
  }

  #conversations {
    position: absolute;
    top: 24.8%;
    height: 600px;
    width: 227px;
    background-color: white;
    border-radius: 16px;

    filter: drop-shadow(6px 6px 5px black);
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #title-bar {
    color: #0d1f45;
    font-family: "Akaya Telivigala";
    font-size: 24;
    font-weight: 900;
    border-radius: 16px;
    margin-bottom: 2%;
    width: 98%;
    margin-left: 1%;
    background-color: white;

    filter: drop-shadow(6px 6px 5px black);
  }

  #message-input {
    justify-content: end;
    width: 49.4%;

    filter: drop-shadow(6px 6px 5px black);
  }
  .btn {
    width: 100px;
    filter: drop-shadow(6px 6px 5px black);
  }
  #message-display {
    height: 600px;
    width: 580px;
    position: relative;
    right: 110px;

    background-color: white;
    border-radius: 16px;
    filter: drop-shadow(6px 6px 5px black);
  }

  #conversations {
    position: absolute;
    top: 25.2%;
    height: 668px;
    width: 340px;
    background-color: white;
    border-radius: 16px;

    filter: drop-shadow(6px 6px 5px black);
  }
}

@media (min-width: 1200px) {
  #title-bar {
    color: #0d1f45;
    font-family: "Akaya Telivigala";
    font-size: 24;
    font-weight: 900;
    border-radius: 16px;
    margin-bottom: 2%;
    width: 98%;
    margin-left: 1%;
    background-color: white;

    filter: drop-shadow(6px 6px 5px black);
  }

  #message-input {
    justify-content: end;
    width: 58.5%;

    filter: drop-shadow(6px 6px 5px black);
  }
  .btn {
    width: 100px;
    filter: drop-shadow(6px 6px 5px black);
  }

  #message-display {
    height: 600px;
    width: 67.5%;
    position: relative;
    right: 18.5%;

    background-color: white;
    border-radius: 16px;
    filter: drop-shadow(6px 6px 5px black);
  }

  #conversations {
    position: absolute;
    top: 25.2%;
    height: 671px;
    width: 325px;
    background-color: white;
    border-radius: 16px;

    filter: drop-shadow(6px 6px 5px black);
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {
  #title-bar {
    color: #0d1f45;
    font-family: "Akaya Telivigala";
    font-size: 24;
    font-weight: 900;
    border-radius: 16px;
    margin-bottom: 2%;
    width: 98%;
    margin-left: 1%;
    background-color: white;

    filter: drop-shadow(6px 6px 5px black);
  }

  #message-input {
    justify-content: end;
    width: 59.9%;

    filter: drop-shadow(6px 6px 5px black);
  }
  .btn {
    width: 100px;
    filter: drop-shadow(6px 6px 5px black);
  }

  #message-display {
    height: 600px;
    width: 67.5%;
    position: relative;
    right: 18.5%;
    border-radius: 16px;
    background-color: white;

    filter: drop-shadow(6px 6px 5px black);
  }

  #conversations {
    position: absolute;
    top: 25.2%;
    height: 674px;
    width: 378px;
    background-color: white;
    border-radius: 16px;

    filter: drop-shadow(6px 6px 5px black);
  }
}
