.App {
  text-align: center;
}

#app-container {
}

.App-header {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );

  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  color: white;
  filter: drop-shadow(6px 6px 5px black);
}

@media (max-width: 576px) {
  .btn {
    position: relative;
    top: 100px;
    filter: drop-shadow(6px 6px 5px black);
  }

  #message-input {
    justify-content: end;
    width: 100%;

    filter: drop-shadow(6px 6px 5px black);
  }
  #message-display {
    height: 600px;
    width: 200px;
    position: relative;
    left: 3%;

    background-color: white;
    border-radius: 16px;
    filter: drop-shadow(6px 6px 5px black);
  }

  #conversations {
    position: absolute;
    top: 24.5%;
    height: 673px;
    width: 378px;
    background-color: white;
    border-radius: 16px;

    display: none;
    filter: drop-shadow(6px 6px 5px black);
  }
}

@media (max-width: 768px) {
  #header-text {
    font-size: 60px;
  }

  .btn {
    position: relative;
    top: 70px;
    width: 432px;
    left: -10px;
    filter: drop-shadow(6px 6px 5px black);
  }

  #message-input {
    justify-content: end;
    width: 432px;
    position: relative;
    top: 70px;
    left: -10px;
    margin-top: 2%;
    margin-bottom: -2%;
    filter: drop-shadow(6px 6px 5px black);
  }

  #message-display {
    height: 600px;
    width: 510px;
    position: relative;
    left: 0;
    top: 70px;
    background-color: white;
    border-radius: 16px;
    filter: drop-shadow(6px 6px 5px black);
  }

  #conversations {
    position: absolute;
    top: 24.5%;
    height: 673px;
    width: 378px;
    background-color: white;
    border-radius: 16px;

    display: none;
    filter: drop-shadow(6px 6px 5px black);
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  #message-input {
    justify-content: end;
    width: 700px;
    position: relative;
    top: 100px;
    margin-top: 2%;
    filter: drop-shadow(6px 6px 5px black);
  }

  .btn {
    margin-top: 2%;
    position: relative;
    width: 120px;
    top: 100px;
    filter: drop-shadow(6px 6px 5px black);
  }
  #message-display {
    height: 600px;
    width: 550px;
    position: relative;
    right: 15%;
    position: relative;
    top: 90px;
    background-color: white;
    border-radius: 16px;
    filter: drop-shadow(6px 6px 5px black);
  }

  #conversations {
    position: absolute;
    top: 24.8%;
    height: 600px;
    width: 257px;
    background-color: white;
    border-radius: 16px;

    filter: drop-shadow(6px 6px 5px black);
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #message-input {
    justify-content: end;
    width: 53.7%;
    position: relative;
    top: 100px;
    filter: drop-shadow(6px 6px 5px black);
  }
  .btn {
    width: 100px;
    position: relative;
    top: 100px;
    filter: drop-shadow(6px 6px 5px black);
  }
  #message-display {
    height: 600px;
    width: 660px;
    position: relative;
    right: 155px;
    top: 100px;
    background-color: white;
    border-radius: 16px;
    filter: drop-shadow(6px 6px 5px black);
  }

  #conversations {
    position: absolute;
    top: 25.2%;
    height: 668px;
    width: 320px;
    background-color: white;
    border-radius: 16px;

    filter: drop-shadow(6px 6px 5px black);
  }
}

@media (min-width: 1200px) {
  #message-input {
    justify-content: end;
    width: 58.5%;
    position: relative;
    top: 100px;
    filter: drop-shadow(6px 6px 5px black);
  }
  .btn {
    position: relative;
    top: 100px;
    width: 100px;
    filter: drop-shadow(6px 6px 5px black);
  }

  #message-display {
    height: 600px;
    width: 67.5%;
    position: relative;
    right: 18.5%;
    top: 100px;
    background-color: white;
    border-radius: 16px;
    filter: drop-shadow(6px 6px 5px black);
  }

  #conversations {
    position: absolute;
    top: 25.2%;
    height: 671px;
    width: 325px;
    background-color: white;
    border-radius: 16px;

    filter: drop-shadow(6px 6px 5px black);
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {
  #message-input {
    justify-content: end;
    width: 59.5%;
    position: relative;
    top: 80px;
    filter: drop-shadow(6px 6px 5px black);
  }
  .btn {
    width: 100px;
    position: relative;
    top: 80px;
    filter: drop-shadow(6px 6px 5px black);
  }

  #message-display {
    height: 500px;
    width: 68.5%;
    position: relative;
    top: 80px;
    right: 19.3%;
    border-radius: 16px;
    background-color: white;

    filter: drop-shadow(6px 6px 5px black);
  }

  #conversations {
    height: 572px;
    width: 320px;
    margin-top: 20px;
    background-color: white;
    border-radius: 16px;

    filter: drop-shadow(6px 6px 5px black);
  }
}
